<div class="container">
  <section class="margin-bottom">
      <div class="row">
          <div class="col-md-12">
              <h2 class="right-line">What do we do?</h2>
          </div>

          <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Corporate Training</h3>
                          <p>Dot Net Next understands the skill gaps that are holding the growth of your business/organization. With Dot Net Next mentors, you can enchance your employees skills as per changing technology landscape.</p>
                      </div>
                  </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="text-icon wow fadeInUp">
                  <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                  <div class="text-icon-content">
                      <h3 class="no-margin">Consulting</h3>
                      <p>Software architecture is the process of taking operational and technical requirements, and designing a solution that optimizes things important to the system like quality, performance, security, and maintainability. At Dot Net Next, our experts will help you to build architecture for your dream project.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="text-icon wow fadeInUp">
                  <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                  <div class="text-icon-content">
                      <h3 class="no-margin">Software Development</h3>
                      <p>At Dot Net Next, we serve you with end-to-end software consulting and development solutions. We help you plan, conceive, incorporate, build and take care of your software with the help of our industry experts from different knowledge domains - offering you absolute benefits from our expert consulting.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
                  <div class="text-icon wow fadeInUp">
                      <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                      <div class="text-icon-content">
                          <h3 class="no-margin">Individual Training</h3>
                          <p>Dot Net Next understands the skill gaps that are holding the growth of your business/organization. With Dot Net Next mentors, you can enchance your employees skills as per changing technology landscape.</p>
                      </div>
                  </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="text-icon wow fadeInUp">
                  <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
                  <div class="text-icon-content">
                      <h3 class="no-margin">Software Maintenance</h3>
                      <p>We have consultants and experts who help in web application planning, implementation and support your application.</p>
                  </div>
              </div>
          </div>
         
          <div class="col-md-4 col-sm-6">
              <div class="text-icon wow fadeInUp">
                  <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
                  <div class="text-icon-content">
                      <h3 class="no-margin">Customer service</h3>
                      <p>Customer Service Customer Service Customer Service Customer Service Customer Service Customer Service</p>
                  </div>
              </div>
          </div>
      </div> <!-- row -->
  </section>

</div> <!-- container -->