<div class="container">
  <section class="css-section">
      <div class="row">
          <div class="col-md-12">
              <h2 class="right-line">Statistics</h2>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="content-box box-default wow zoomInUp animation-delay-2">
                  <h4 id="count-coffees" class="content-box-title counter">450</h4>
                  <i class="fa fa-4x fa-coffee primary-color"></i>
                  <p class="margin-top-20 no-margin-bottom lead small-caps">Articles</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="content-box box-default wow zoomInUp animation-delay-4">
                  <h4 id="count-coffees" class="content-box-title counter">64</h4>
                  <i class="fa fa-4x fa-briefcase primary-color"></i>
                  <p class="margin-top-20 no-margin-bottom lead small-caps">projects done</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="content-box box-default wow zoomInUp animation-delay-6">
                  <h4 id="count-coffees" class="content-box-title counter">600</h4>
                  <i class="fa fa-4x fa-comments-o primary-color"></i>
                  <p class="margin-top-20 no-margin-bottom lead small-caps">Interview Questions</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="content-box box-default wow zoomInUp animation-delay-8">
                  <h4 id="count-coffees" class="content-box-title counter">3500</h4>
                  <i class="fa fa-4x fa-group primary-color"></i>
                  <p class="margin-top-20 no-margin-bottom lead small-caps">Users</p>
              </div>
          </div>
      </div>
  </section>
</div> <!-- container -->