<header class="main-header">
  
</header>
<div class="container">

  <div class="center-block logig-form">
    <div class="panel panel-success-dark animated fadeInDown">
      <div class="panel panel-primary">
        <div class="panel-heading">Login Form</div>
        <div class="panel-body">
          <form role="form" #loginForm="ngForm" (ngSubmit)="login()">
            <div class="form-group">
              <div class="input-group login-input">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="useremail" placeholder="UserEmail" required [(ngModel)]="model.useremail">
              </div>
              <br>
              <div class="input-group login-input">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password" required [(ngModel)]="model.password">
              </div>
              <div class="checkbox">
                <input type="checkbox" id="checkbox_remember">
                <label for="checkbox_remember">Remember me</label>
              </div>
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
              <a href="#" class="social-icon-ar sm twitter animated fadeInDown animation-delay-2"><i class="fa fa-twitter"></i></a>
              <a href="#" class="social-icon-ar sm google-plus animated fadeInDown animation-delay-3"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="social-icon-ar sm facebook animated fadeInDown animation-delay-4"><i class="fa fa-facebook"></i></a>
              <hr class="dotted margin-10">
              <a href="#" class="btn btn-ar btn-success pull-right">Create Account</a>
              <a href="#" class="btn btn-ar btn-warning">Password Recovery</a>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container  -->
