<div class="container">
    <div class="col-md-12">
        <div class="title-logo animated fadeInDown animation-delay-5">DotNet <span>Next</span> Team</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Sanjeev Ranjan</h2>
            <img src="assets/img/demo/sanjeevphoto.jpg" alt="" class="imageborder alignleft">
            <p>Sanjeev Ranjan is Co founder of DotNet Next Inc. He has over 10 years of experience in .Net technologies</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
        </div>
        <!-- <div class="col-md-12">
            <h2 class="right-line">Aditya Kashayp</h2>
            <img src="assets/img/demo/t3.jpg" alt="" class="imageborder alignright">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
            <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
        </div> -->
       
    </div> <!-- row -->
</div> <!-- container -->