<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="index.html">Home</a></li>
                    <li><a [routerLink]="['/comingsoon']">About Us</a></li>
                    <li><a [routerLink]="['/ourteam']">Our Team</a></li>
                    <li><a [routerLink]="['/comingsoon']">Services</a></li>
                    <li><a [routerLink]="['/comingsoon']">FAQ</a></li>
                    <li><a [routerLink]="['/login']">Login</a></li>
                    <!-- <li><a href="page_contact.html">Contact</a></li>-->
                    <li ><a [routerLink]="['/contactus']">Contact</a></li>
                </ul>
  
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Subscribe to get latest updates</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Adress">
                    <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Articles</h3>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/angular.png" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Web API Authentication</a></h4>
                            <small>January 18, 2018</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/angular.png" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Angular2 to Angular5 conversion</a></h4>
                            <small>February 14, 2018</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/img/demo/angular.png" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">How to implement multiple master page in Angular</a></h4>
                            <small>March 9, 2018</small>
                        </div>
                    </div>
                </div>
            </div>
          
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->