<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm navbar-dark" href="index.html">DotNet <span>Next</span></a>
        </div> <!-- navbar-header -->
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li> <a [routerLink]="['/home']">Home</a> </li>
               
                <li class="dropdown yamm-fw">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Technology</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> .Net Fundamentals</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> .Net Framework</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> ASP.Net MVC</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> ASP.Net Core</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> ADO.Net</a></li>
                                                <li><a href="css_forms.html"><i class="fa fa-arrow-circle-right"></i> WebAPI</a></li>
                                                
                                            </ul>
                                        </div>
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Design</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Dependency Injection</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon <span class="label label-info pull-right">Update</span></a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> WebAPI</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                            </ul>
                                        </div>
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Angular</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i>  Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon <span class="label label-info pull-right">Update</span></a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> SQL Server</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i>  Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon <span class="label label-info pull-right">Update</span></a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
  
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-megamenu">
                                        <div class="megamenu-block">
                                            <!-- <h4 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> OOPS</h4> -->
                                            <ul>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                                <li><a [routerLink]="['/comingsoon']"><i class="fa fa-arrow-circle-right"></i> Coming Soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Services</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a [routerLink]="['/comingsoon']">Corporate Training</a> </li>
                        <li><a [routerLink]="['/comingsoon']">Technical Training</a> </li>
                        <li><a [routerLink]="['/comingsoon']">Software Development</a> </li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Interview Questions</a>
                         <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                            <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                  
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                   
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li class="divider"></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon</a></li>
                                </ul>
                            </li>
                          
                            <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon Option 1</a></li>
                                    <li><a [routerLink]="['/comingsoon']">Coming Soon Option 2</a></li>
                                </ul>
                            </li>
                          
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);">Ask Questions</a> </li>
                    <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Contribute</a>
                             <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li><a [routerLink]="['/comingsoon']">Article</a> </li>
                                <li><a [routerLink]="['/comingsoon']">Blog</a> </li>
                                <li><a [routerLink]="['/comingsoon']">Interview Questions</a> </li>
                            </ul>
                        </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
  </nav>